.mainParent{
    background-color: blueviolet;
    padding: 200px 140px;
    
}
.mainParentNode{
    background-color: white;
    border-radius: 10px;
    height: auto;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
input[type="text"]
{
    border:none;
border-bottom: 1px solid grey;
width: 100%;
margin: 16px 0px;
padding: 8px 0px;
}

.customselect{
border: none;
width: 100%;
padding: 8px 0px;
margin: 16px 0px;
border-bottom: 1px solid grey;
}

.mainParent ::placeholder{
    font-weight: normal;
}